<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">

  <title>フォームテスト</title>

</head>

<body>

  <div>入力終了</div>
  <br>

  <table>
    <tr>
      <td>名前</td>
      <td><%=h text1 %></td>
    </tr>
    <tr>
      <td>性別</td>
      <td><%=h radio1_value %></td>
    </tr>
    <tr>
      <td>趣味</td>
      <td><%=h check1_value %></td>
    </tr>
  </table>

  <p>完了しました</p>

  <a href="index.rb>最初へ</a>

</body>
</html>
