<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>フォームテスト</title>
</head>

<body>
  <div>フォームテスト</div>
  <br>
    
  <% messages.each do |m| %>
  <%=h m %><br>
  <% end %>
  
  <form method="POST" action="index.rb">

    <table>
      <tr>
	<td>名前</td>
	<td><input type="text" name="text1" value="<%= text1 %>"></td>
      </tr>
      <tr>
	<td>性別</td>
	<td>
	  <label><input type="radio" name="radio1" value="r1"
			<%= if radio1 == "r1" then; "checked" else ""; end %>
			>男性</label>
	  <label><input type="radio" name="radio1" value="r2"
			<%= if radio1 == "r2" then; "checked" else ""; end %>
			>女性</label>
	  <label><input type="radio" name="radio1" value="r3"
			<%= if radio1 == "r3" then; "checked" else ""; end %>
			>不明</label>
	</td>
      </tr>
      <tr>
	<td>趣味</td>
	<td>
	  <label><input type="checkbox" name="check1" value="c1"
		<%= if check1.include?("c1") then; "checked" else ""; end %>
			>音楽</label>
	  <label><input type="checkbox" name="check1" value="c2"
		<%= if check1.include?("c2") then; "checked" else ""; end %>
			>スポーツ</label>
	  <label><input type="checkbox" name="check1" value="c3"
		<%= if check1.include?("c3") then; "checked" else ""; end %>
			>読書</label>
	</td>
      </tr>
      <tr>
	<td></td>
	<td>
	  <input type="submit" name="submit1" value="決定" style="float: right;">
	</td>
      </tr>
    </table>
  </form>
</body>
</html>
