<%= header_section %>
  <title>掲示板　書き込み</title>

<%= body_section %>
  <div class="al-page-header">書き込みました</div>

  <%= @form.make_tiny_sheet() %>

  <a href="index.rb">一覧へ</a><br>

<%= footer_section %>
