<%= header_section %>
  <title>掲示板</title>

<%= body_section %>
  <div class="al-page-header">掲示板</div>
  
  <% @messages.each do |m| %>
  <div style="background-color: #aaa;"><%=h m["namae"] %>  <%=h m["hizuke"] %></div>
  <div style="margin-left: 2em;"><%= h( m["message"] ).gsub( /\r\n|\r|\n/, "<br>" ) %></div>
  <hr>
  <% end %>

  <a href="post_message.rb">書き込み</a><br>

<%= footer_section %>
