<%= header_section %>
  <title>TestForm</title>

<%= body_section %>
  <p>ログイン成功 </p>
  <p>ユーザＩＤ：<%=h AlSession[:al_user_id] %></p>
  <input type="button" value="ログアウト" onclick="location.href='logout.rb'">

<%= footer_section %>
