<h2><%=h @my_message %></h2>

<p>
　ある春の朝でした。<br>
　太陽は、いま薔薇色（ばらいろ）の雲をわけて、小山のうえを越える所でした。小さい子供は、白い小さい床（ベッド）の中で、まだ眠って居（お）りました。<br>
「お起き、お起き」柱に掛った角時計が言いました。「お起き、お起き」そう言ったけれど、よく眠った太郎（たろう）は何も聞きませんでした。「私が起して見ましょう」窓に近い木のうえに居た小鳥が言いました。<br>
「坊ちゃんはいつも私に餌（えさ）を下さるから、私がひとつ唄（うた）を歌って坊ちゃんを起してあげよう」<br>
好（よ）い子の坊ちゃんお眼（め）ざめか？<br>
寝た間に鳥差（えさ）しがさしにくる<br>
　庭にいた小鳥がみんな寄って来て声をそろえて歌いました。それでも太郎はなんにも聞えないように眠っていました。<br>
<br>
</p>
<!-- (END OF CONTENTS TEMPLATE) -->
