<%= header_section %>
  <title>データ削除</title>

<%= body_section %>
  <div class="al-page-header">データ削除</div>

  <p>次のデータを削除します。</p>
  <%= @form.make_tiny_sheet() %>

  <div class="al-navigation">
    <a href="<%=h Alone::make_uri() %>">やめる</a>
    <a href="<%=h make_uri_key( @persist, :action=>'delete_submit' ) %>">削除</a>
  </div>

<%= footer_section %>
