<%= header_section %>
  <title>フォームテスト</title>

<%= body_section %>
  <div class="al-page-header">フォームテスト</div>
  
  <%= @form.get_messages_by_html() %>

  <form method="<%= @form.method %>" action="<%= @form.action %>">
    名前：<%= @form.make_tag( :text1 ) %><br>
    性別：<%= @form.make_tag( :radio1 ) %><br>
    趣味：<%= @form.make_tag( :check1 ) %><br>
    決定：<%= @form.make_tag( :submit1 ) %><br>
  </form>

<%= footer_section %>
